/* global layout styles */

@charset "UTF-8";
* {
  box-sizing: border-box;
}

body {
  background: #fff;
  color: #222;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* link styles */

a {
  color: #ff0;
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: #ff0;
  font-style: italic;
}

/* navigation styles */

nav {
  background: #0399ff;
  color: #fff;
  padding: 1em;
  position: fixed;
  text-align: center;
  max-width: 100%;
  width: 100%;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  font-weight: 300;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

nav li {
  padding: 0.5em 1em;
}

nav .name {
  color: #fff;
  margin-right: auto;
}

/* content header styles */

header {
  overflow: hidden;
  text-align: center;
}

header::before {
  background: url("images/dan-poynor-background-collage.jpg") top center
    no-repeat;
  background-size: cover;
  content: "";
  display: block;
  filter: blur(7px);
  height: 380px;
  left: 0;
  position: fixed;
  right: 0;
  width: 100%;
  z-index: -1;
}

header {
  line-height: 1.5;
}

.profile-image {
  border: #fff solid 6px;
  border-radius: 50%;
  height: 9em;
  margin-top: 7em;
  transition: transform 0.3s;
}

.profile-image:hover {
  transform: scale(1.2) rotate(-5deg);
}

.tag {
  background-color: #0399ff;
  border-radius: 1em;
  color: #fff;
  display: table;
  font-weight: 300;
  margin: 0.5em auto;
  padding: 0.33em 0.66em;
}

.location {
  background-color: #0399ff;
  border-radius: 2em;
  color: #fff;
  padding: 0.5em 1em;
}

/* card content styles */

.card {
  background-color: #d8f1c6;
  border-radius: 1em;
  color: #666;
  line-height: 1.6;
  margin: 1em;
  max-width: 100%;
  padding: 1em 1.5em;
  text-align: left;
}

.card h2 {
  color: #0399ff;
  font-size: 1.6em;
  font-weight: 300;
  margin: 0 0 0.5em;
}

.card a {
  color: #0399ff;
  text-decoration: underline;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.colored-bullets li {
  margin: 0.5em 0 1em 1em;
  padding-right: 0.5em;
  text-indent: -0.7em;
}

.colored-bullets li::before {
  content: "• ";
  color: #0399ff;
  font-size: 125%;
  vertical-align: -0.06em;
  line-height: 1;
}

.skills {
  text-align: center;
}

.skills li:nth-child(odd) {
  background: #0399ff;
}

.skills li {
  background: #6cbb3d;
  border-radius: 0.5em;
  color: #fff;
  display: inline-block;
  margin: 2px;
  padding: 0.5em 1em;
}

/* footer styles */

footer {
  margin: 0 auto;
  min-height: 3em;
  padding: 1em;
  width: 100%;
}

.copyright {
  color: #ccc;
  font-size: 0.75em;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer li {
  display: inline-block;
}

a.social {
  background-size: 30px 30px;
  border-radius: 50%;
  display: inline-block;
  height: 30px;
  margin-left: 5px;
  position: relative;
  text-indent: -9999px;
  width: 30px;
}
a.social:hover::before {
  border: #6cbb3d solid 3px;
  border-radius: 50%;
  content: "";
  display: block;
  height: 36px;
  left: -6px;
  position: absolute;
  top: -6px;
  width: 36px;
}
a.twitter {
  background-image: url(images/twitter.svg);
}
a.linkedin {
  background-image: url(images/linkedin.svg);
}
a.github {
  background-image: url(images/github.svg);
}
a.other {
  background-image: url(images/github.svg);
}

.clearfix {
  clear: both;
}

/* styles for larger screens */
@media screen and (min-width: 720px) {
  nav ul {
    margin: 0 auto;
    max-width: 1200px;
  }

  header {
    min-height: 380px;
  }

  footer {
    font-size: 1.2em;
    max-width: 1200px;
  }

  main {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 1200px;
  }

  .card {
    width: 50%;
  }
}
